.stick {
  position:sticky;
  top: 0;
}

.nav {
  background-color: rgb(239, 236, 232);
  border: 1px solid rgb(198, 126, 25);
  padding: 25px;
  display: flex; /* or inline-flex */
  justify-content: space-between
}
.nav>ul {
  display: flex;
  list-style-type: none;
}
.nav>ul>li>a {
  text-decoration: none;
}
.nav>ul>li {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(111, 159, 111);
  padding: 30px 30px 30px 30px;
  border: 1px solid hotpink;
  margin-right: 10px;
}
.red {
  color: red;
}
.dr {
  display: flex;
}
.dr>li{
  
  list-style: none;
  background-color: blanchedalmond;
  padding: 20px 20px 20px 20px ;
}
.dr {
  justify-content: center;
  list-style: none;
  border: solid 1px;
  background-color:  rgb(228, 226, 222);
  padding: 20px 20px 20px 20px ;
  margin-top: 10px;
}
.li {
  list-style-type: none;
}